body
{
    font-family: "Comic Sans MS";
}

header
{
    display: flex;
    justify-content: space-between;
}

#logo
{
    width: 200px;
}

.my-account
{
    justify-content: flex-start;
    flex-direction: row-reverse;
    min-width: 150px;
    align-self: center;
}

.my-account img
{
    width: 3.1em;
    justify-content: space-between;
    float: left;
    margin-right: .5em;
    margin-top: .5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d10019;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

main h1
{
    font-size: 3em;
}

footer
{
    text-align: center;
    border-top: 3px solid black;
}

footer p
{
    margin: 0px;
}